## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
# print(g_key)

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("./weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Adrar,MR,2022-07-23 22:30:21,overcast clouds,20.5022,-10.0711,94.96,28,93,10.96
1,1,Arraial Do Cabo,BR,2022-07-23 22:30:30,clear sky,-22.9661,-42.0278,72.03,87,6,21.12
2,2,Nanortalik,GL,2022-07-23 22:30:31,overcast clouds,60.1432,-45.2371,44.02,91,96,10.78
3,3,Yellowknife,CA,2022-07-23 22:30:31,broken clouds,62.4560,-114.3525,72.12,37,75,19.57
4,4,Bambous Virieux,MU,2022-07-23 22:30:31,light rain,-20.3428,57.7575,69.22,83,40,8.05

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
27,27,Mabay,PH,2022-07-23 22:30:38,overcast clouds,6.0577,124.4666,79.05,80,96,2.28
30,30,Marsh Harbour,BS,2022-07-23 22:26:15,clear sky,26.5412,-77.0636,83.37,71,0,12.33
39,39,Gobo,JP,2022-07-23 22:30:41,overcast clouds,33.8833,135.1500,78.69,70,88,2.33
46,46,Bubaque,GW,2022-07-23 22:24:02,overcast clouds,11.2833,-15.8333,80.01,80,100,15.57
54,54,Butaritari,KI,2022-07-23 22:31:45,light rain,3.0707,172.7902,81.39,80,25,15.86
58,58,Faanui,PF,2022-07-23 22:31:46,clear sky,-16.4833,-151.7500,79.45,73,10,13.58
60,60,Kapaa,US,2022-07-23 22:31:47,few clouds,22.0752,-159.3190,84.52,65,20,13.80
65,65,Kavaratti,IN,2022-07-23 22:31:48,broken clouds,10.5669,72.6420,80.94,77,67,16.35
69,69,Lorengau,PG,2022-07-23 22:31:50,few clouds,-2.0226,147.2712,83.53,76,16,8.95
71,71,Bacong,PH,2022-07-23 22:31:50,light rain,9.2464,123.2956,80.58,82,93,2.55

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 27 to 707
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              150 non-null    int64
 1   City                 150 non-null    object
 2   Country              150 non-null    object
 3   Date                 150 non-null    object
 4   Current Description  150 non-null    object
 5   Lat                  150 non-null    float64
 6   Lng                  150 non-null    float64
 7   Max Temp             150 non-null    float64
 8   Humidity             150 non-null    int64
 9   Cloudiness           150 non-null    int64
 10  Wind Speed           150 non-null    float64
dtypes: float64(4), int64(3), object(4)
memory usage: 14.1+ KB

In [6]:
# 4b. Drop anpreferred_cities_dfy empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how = 'any', inplace = True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
27,27,Mabay,PH,2022-07-23 22:30:38,overcast clouds,6.0577,124.4666,79.05,80,96,2.28
30,30,Marsh Harbour,BS,2022-07-23 22:26:15,clear sky,26.5412,-77.0636,83.37,71,0,12.33
39,39,Gobo,JP,2022-07-23 22:30:41,overcast clouds,33.8833,135.1500,78.69,70,88,2.33
46,46,Bubaque,GW,2022-07-23 22:24:02,overcast clouds,11.2833,-15.8333,80.01,80,100,15.57
54,54,Butaritari,KI,2022-07-23 22:31:45,light rain,3.0707,172.7902,81.39,80,25,15.86
...,...,...,...,...,...,...,...,...,...,...,...
692,692,Lakki Marwat,PK,2022-07-23 22:48:05,overcast clouds,32.6079,70.9114,84.04,73,100,1.52
696,696,Santa Rosa,PH,2022-07-23 22:48:06,overcast clouds,14.3122,121.1114,82.09,89,100,2.75
699,699,Veraval,IN,2022-07-23 22:49:07,overcast clouds,20.9000,70.3667,81.01,83,100,18.32
700,700,Shimoda,JP,2022-07-23 22:48:25,overcast clouds,34.6667,138.9500,80.33,71,100,6.13
707,707,Tingo Maria,PE,2022-07-23 22:49:10,few clouds,-9.2895,-76.0088,82.71,61,20,4.61

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,Mabay,PH,79.05,overcast clouds,6.0577,124.4666,
30,Marsh Harbour,BS,83.37,clear sky,26.5412,-77.0636,
39,Gobo,JP,78.69,overcast clouds,33.8833,135.1500,
46,Bubaque,GW,80.01,overcast clouds,11.2833,-15.8333,
54,Butaritari,KI,81.39,light rain,3.0707,172.7902,
58,Faanui,PF,79.45,clear sky,-16.4833,-151.7500,
60,Kapaa,US,84.52,few clouds,22.0752,-159.3190,
65,Kavaratti,IN,80.94,broken clouds,10.5669,72.6420,
69,Lorengau,PG,83.53,few clouds,-2.0226,147.2712,
71,Bacong,PH,80.58,light rain,9.2464,123.2956,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
        
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,Mabay,PH,79.05,overcast clouds,6.0577,124.4666,Bautista Lodging House
30,Marsh Harbour,BS,83.37,clear sky,26.5412,-77.0636,Abaco Beach Resort
39,Gobo,JP,78.69,overcast clouds,33.8833,135.1500,Kotobuki Inn
46,Bubaque,GW,80.01,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
54,Butaritari,KI,81.39,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
692,Lakki Marwat,PK,84.04,overcast clouds,32.6079,70.9114,Noor Hotel
696,Santa Rosa,PH,82.09,overcast clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
699,Veraval,IN,81.01,overcast clouds,20.9000,70.3667,Lords Inn Somnath
700,Shimoda,JP,80.33,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
707,Tingo Maria,PE,82.71,few clouds,-9.2895,-76.0088,Hospedaje Paraíso

In [10]:
# 8a. Create the output File (CSV)
output_data_file = './weather_data/WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# Check to get map working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))